<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header>
        <%- include('../partials/header'); %>
    </header>

      <div class="middle">
        <h1>Topics</h1>

        <% for(var i=0; i<posts.length; i++) {%>
          <div  class="lines_post">

              <h2>
                  <a class="element1" href="/posts/posts/<%=posts[i].id %>" >Topic: <%= posts[i].body %> </a>
                </h2>
                <h2>
                    <a class="element2" >Topic summary: <%= posts[i].name %></a>
                </h2>
                  <h2>
                    <a class="element3">Created by: <%= posts[i].users_id %> </a>
                </h2>
            </div>
        <% } %>




        <div class="container">
            <form method="POST" action="/posts/topics/make_topic">
          
              <label for="fname">Topic name:</label>
              <input name="name" type="text">
          
              <label for="lname">Topic summary:</label>
              <input  name="body" type="text">
          
              <input type="submit" value="Submit">
          
            </form>
          </div> 













      </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
